.static{
    position: static;
    background-color: yellow;
    left: 30px;
    top: 30;
    color: red;
    border: 5px solid black;
}
.relative{
    position:relative;
    background-color: aqua;
    left: 50px;
    top: 50px;
    color: red;
    border:5px solid black
}
.fixed{
    position:fixed;
    background-color: aqua;
    left: 50px;
    top: 50px;
    color: red;
    border:5px solid black
}
.absolute{
      position:absolute;
    background-color: aqua;
    left: 600px;
    top: 50px;
    color: red;
    border:5px solid black
}
.sticky{
      position:sticky;
    background-color: aqua;
    left: 600px;
    top: 50px;
    color: red;
    border:5px solid black
}

